<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <p class="text-faded">I studied in a artistic high school where I learned mainly to make video. I love take photo, in particular take photos to the details. Now I'm studying to graduate in applied music at Conservatorio G. Nicolini of Piacenza. Check my youtube channel for videos.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
