<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <h3>Video software </h3>
                    <p class="text-muted">Adobe package for making video</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <h3>Audio software</h3>
                    <p class="text-muted">Reaper and Audition for audio</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <h3>Photo software</h3>
                    <p class="text-muted">Photoshop and Lightroom for editing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <h3>Check my channel</h3>
                    <p class="text-muted">For videos check my channel on youtube Veronica Solinas</p>
                </div>
            </div>
        </div>
    </div>
</section>
